<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <div class="container">
    <main>
      <div class="cart">
        <h2>Seu carrinho</h2>
        <div *ngFor="let product of persistence.cart">
          <img [src]="baseURL + product.image" />
          {{ product.name }} - {{ product.price | currency: "BRL" }}
          <button #removeBt (click)="persistence.removeFromCart(product)">
            Remover
          </button>
        </div>

        <div>
          Valor Total:
          <p>
            {{ cart | pipeSum }}
          </p>
          <button (click)="finishPurchase()">Concluir compra</button>
        </div>
      </div>

      <form [formGroup]="editRegister" (ngSubmit)="FormSubmit()">
        <h2>Formulário de Cadastro</h2>
        <div>
          <label for="name">Nome</label>
          <input type="text" required formControlName="name" />
        </div>
        <div>
          <label for="email">Email</label>
          <input type="text" required formControlName="email" />
        </div>
        <div>
          <label for="phone">Telefone</label>
          <input type="text" formControlName="phone" />
        </div>
        <div>
          <label for="cpf">CPF</label>
          <input type="text" required formControlName="cpf" />
        </div>
        <button type="submit" [disabled]="!editRegister.valid">Salvar</button>

        <!-- <div *ngIf="name?.invalid">
          <div *ngIf="name?.errors?.['required']">Nome obrigatório.</div>
          <div *ngIf="name?.errors?.['minlength']">
            Nome deve ter ao menos 3 caracteres
          </div>
        </div> -->
      </form>
    </main>
  </div>
</body>
