/* div {
  color: white;
  display: inline;
} */
/* .container {
  color: white;
  display: inline;
}

img {
  width: 150px;
  height: 200px;
  margin: 10px;
} */
/* 
button {
  width: 175px;
} */

/* .maxContainer {
  display: inline-block;
} */
